.main-container {
  width: 100%;
  height: 100%;
  padding: 16px 24px;
}

.body-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .contadores {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding-bottom: 2rem;

    .news{
      color: #59c019;
    }

    .azul {
        background-color: #E3F2FD;
    }
    .azul .type,
    .azul .number,
    .azul .icon i {
        color: #007BFF;
    }

    .azul .icon i{
      background-color: #8fc6eebb;
    }

    .vermelho {
        background-color: #FFEBEE;
    }
    .vermelho .type,
    .vermelho .number,
    .vermelho .icon i {
        color: #DC3545;
    }

    .vermelho .icon i{
      background-color: #dc354644;
    }

    .verde {
        background-color: #E8F5E9;
    }
    .verde .type,
    .verde .number,
    .verde .icon i {
        color: #28A745;
    }
    .verde .icon i{
      background-color: #b7e7bbd9;
    }

    .laranja {
        background-color: #FFF3E0;
    }
    .laranja .type,
    .laranja .number,
    .laranja .icon i {
        color: #FF8800;
    }
    .laranja .icon i{
      background-color: #f4cf935e;
    }
  }
  

@media (max-width: 1200px) {
    .contadores {
        grid-template-columns: repeat(2, 1fr);
    }
    .container{
      grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 992px) {
    .contadores {
        grid-template-columns: repeat(1, 1fr);
    }
    .container{
      grid-template-columns: repeat(1, 1fr);
    }
}


    .boxCont{
      background-color: white;
      padding: 0.5rem 1rem;
      box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.11);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div{

        .infos{
          display: flex;
          flex-direction: column;
          height: 100%;
          span{
            margin-bottom: 12px;
          }
          h1{
            margin-bottom: 4px;
          }
        }
      }

      .icon{
        height: 100% !important;
        display: flex;
        i{
          font-size: 1rem !important;
          background-color: rgb(219 234 254);

          color:#0075eb;
          border-radius: 4px;
          padding: 8px;
          height: fit-content;
        }
      }

      .type{
        font-size: clamp(1.2rem, 4vw, 1.2rem);
        color: #0075eb;
        font-weight: 400;
      }
      .number{
          font-size: clamp(1.2rem, 4vw, 1.2rem);
          color: #0075eb;
          font-weight: 700;
      }

    }
  }

  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

      .table {
        width: 100%;
        max-height: 80vh;
        background-color: white;
        padding: 16px;
        box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.11);
        border-radius: 10px;
        overflow: auto;

      .header{
        padding-bottom: 8px;
        display: flex;
        justify-content: space-between;

        h1 {
          font-size: clamp(1.4rem, 4vw, 1.5rem);
          color: #0075eb;
          font-weight: 400;
        }

        .p-input-icon-right i{
          position: absolute;
          top: 35%; 
          right: 10px; 
          font-size: 1rem;
        }
      }

    .link{
      font-weight: bold;
      color: #0075eb;
      text-decoration: underline;
      text-transform: uppercase;
      cursor: pointer;
    }

    .link:hover{
      color: #ffae34;
    }

    ::ng-deep{

      .p-datatable-wrapper{
        overflow-x: auto;
      }

      .p-button.p-button-icon-only {
          width: 40px;
          padding: 0.5rem 0 !important;
      }

        .p-button.p-button-text.p-button-plain:not(:disabled):hover {
          background: #ffffff;
          color: #6b7280;
        }
          
        .p-button.p-button-text.p-button-plain:not(:disabled):active {
          background: #ffffff;
          color: #6b7280;
        }

      .btnExcluir{
        .p-button:hover {
          background: rgba(255, 0, 0, 0.503);
          color: #ffffff;
          border-color: red;
        }
      }
    }

  }
  }


  
