<div class="container">
    <div class="banner">
        <div class="logo">
            <img src="/images/dogNoBg.png"  alt="">
        </div>
        <div class="user">
            <button pButton class="theme-toggle-btn"(click)="alternarTema()" type="button">
                <i class="pi"
                  [ngClass]="temaAtual === 'dark' ? 'pi-sun sun' : 'pi-moon moon'">
                </i>
            </button>
            <label for="">{{name}} - {{cargoNome}}</label>
            <img class="img" (click)="showDialog()" src="/images/user.png"  alt="">

        </div>
    </div>
    <div class="main">
        <app-menuLateral></app-menuLateral>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<p-dialog header="Editar Perfil" [modal]="true" [(visible)]="visible" [style]="{ width: '28rem' }" [baseZIndex]="10000" class="profile-dialog">
    <div class="profile-header">
    <div class="profile-photo-container">
      <img class="profile-photo img" src="/images/user.png"  alt="">

      <button pButton icon="pi pi-camera" [rounded]="true" [text]="true" [raised]="true" class="btn-cam"></button>
    </div>
  </div>

  <div class="profile-fields">
    <form [formGroup]="formEdit">
          <div class="field">
            <label for="name">Nome</label>
            <input pInputText id="name" formControlName="name" placeholder="Seu nome" />
          </div>
          <div class="field">
            <label for="email">Email</label>
            <input pInputText id="email" formControlName="email" placeholder="Seu email" />
          </div>
          <div class="field">
            <label for="role">Cargo</label>
            <input pInputText id="cargo" readonly formControlName="cargo" placeholder="Seu cargo" />
          </div>
    </form>
   </div>

  <div class="profile-actions">
    <button pButton label="LogOut" severity="secondary"  [outlined]="true" (click)="logout()" class="btnLogout"> </button>
    <div >
      <button pButton  label="Fechar" severity="secondary"  (click)="visible = false" class="action-btn"></button>
      <button pButton label="Salvar"  (click)="editarInfosUserLogado()"  class="action-btn"></button>
    </div>
  </div>

</p-dialog>

<!-- <p-toast position="bottom-right" [baseZIndex]="99919"/> -->
