.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.banner {
  background-color: #0075eb;
  max-height: 10vh;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.31);
  z-index: 11111111;
  padding: 0px 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    img {
      width: 100px;
      height: 100%;
    }
  }

  .user {
    display: flex;
    align-items: center;
    gap: 20px;
    label {
      font-size: 16px;
      color: #ffffff;
    }
    .img {
      width: 70px;
      height: 70px;
      cursor: pointer;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  app-menuLateral {
    display: flex;
    width: 10%;
    min-width: 100px;
  }

  .content {
    width: 90%;
    z-index: 0;
    background: #f2f3f8;
  }

  app-login {
    width: 100%;
    z-index: 0;
    background: #f2f3f8;
  }
}


::ng-deep{
    .profile-dialog{

      .p-button {
        padding: 0.55rem 1rem;
        margin-bottom: 8px;

        .pi-camera{
          overflow: visible;
        }
        }

        .p-dialog-title{
          color:#0075eb;
          font-size: 1.50rem;
        }

        .profile-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 2rem;
        }

        .profile-photo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 200px;
        }

        .profile-photo {
        width: 37%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ccc;
        }


        .change-photo-btn i {
        font-size: 1rem;
        }

        .profile-fields {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        }

        .profile-fields .field {
        display: flex;
        align-items: left;
        flex-direction: column;
        gap: 4px;
        }

        .profile-fields label {
        min-width: 6rem;
        font-weight: 600;
        }

        .profile-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        
        div{
          display: flex;
          gap: 1rem;
        }
        }

        .action-btn {
        min-width: 80px;
        }
    }

    .btnLogout{
          background: rgba(255, 0, 0, 0.503);
          color: #ffffff;
          border-color: red;
      }

    .btnLogout:hover{
          background: rgb(255, 0, 0);
      }
}