<p-table [value]="valorTabela"
    scrollHeight="65vh" 
    [scrollable]="true"
    [paginator]="true" 
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]">

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of colunas">
        {{ col.coluna }}
      </th>
      <th  *ngIf="cargo">
        Status
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-indexLinha>
    <tr>
      <td *ngFor="let col of colunas">
        {{ getValue(indexLinha, col) }}
      </td>
      <td *ngIf="cargo">
      <p-checkbox
        [binary]="true"
        [(ngModel)]="indexLinha.ativo"
        (onChange)="onCheckboxChange(indexLinha)"
      ></p-checkbox>
      </td>
    </tr>
  </ng-template>

</p-table>
