<section class="main-container">
    <div class="body-main">
            <div class="container">
                <form [formGroup]="formPetRegister">
                    <header>
                        <h1>Cadastro de PET</h1>
                        <img src="images/Cat.svg" alt="">
                    </header>
                    <article>
                        <label for="">Nome do PET:</label>
                        <input type="text" pInputText formControlName="name" />
                    </article>

                    <article id="espec">
                        <div class="infos">
                            <label for="">Espécie:</label>
                            <input type="text" pInputText formControlName="species" />
                        </div>
                        <div class="infos">
                            <label for="">Raça:</label>
                            <input type="text" pInputText formControlName="breed" />
                        </div>
                    </article>

                    <article>
                        <label for="">Idade:</label>
                        <input type="text" pInputText formControlName="age" />
                    </article>

                    <article>
                        <label for="">Nome do Responsavel:</label>
                        <p-autoComplete [suggestions]="nomesFiltrados" (completeMethod)="filtroAC($event)" field="owner"
                            (onSelect)="onOwnerSelect($event)" [autoHighlight]="true">
                        </p-autoComplete>
                    </article>

                    <div class="card flex justify-content-center">
                        <p-toast />
                        <p-fileUpload 
                            name="demo[]" 
                            url="https://www.primefaces.org/cdn/api/upload.php" 
                            (onUpload)="onUpload($event)" 
                            [multiple]="true" 
                            chooseLabel="Selecionar Arquivo"
                            uploadLabel="Upload Arquivo"
                            cancelLabel="Cancelar envio"
                            accept="image/*" 
                            maxFileSize="1000000">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">
                                            {{ file.name }} - {{ file.size }} bytes
                                        </li>
                                    </ul>
                                </ng-template>
                        </p-fileUpload>
                    </div>
                    <p-button type="button" class="btnFooter" label="Cadastrar" [raised]="true"
                        (click)="registerPet()" />
                </form>
            </div>
    </div>

</section>

<p-toast />