<header class="container">
    <!-- <p-menubar [model]="items" autoDisplay="false"/> -->
    
    <div class="menu">
        <button routerLink="/home">
            <i class="pi pi-home"></i> Dashboard
        </button>
        <button routerLink="/registrarUsuario">
            <i class="pi pi-user-plus"></i> Cliente
        </button>
        <button routerLink="/registrarPet">
            <i class="fa fa-dog"></i> Pet
        </button>
        <button routerLink="/registrarServico">
            <i class="fa fa-calendar-days"></i> Serviço
        </button>
        <button routerLink="/calendarService">
            <i class="pi pi-calendar"></i> Atendimentos
        </button>
    </div>
</header>