.menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 0px;
}

.menu button {
    border: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.75rem 1rem;
    color: #0075eb;
    cursor: pointer;
    transition: 0.2s;
    background-color: white;
    text-align: left;
    margin: 0px 5px;
}

.menu button:hover:not(.group-title) {
    background-color: #0075eb;
    color: white;
}

/* Estilo para títulos de grupo */
.menu button.group-title {
    font-weight: 700;
    color: #0076ebe6;
    cursor: default;
    background-color: #0076eb25;
    pointer-events: none; 
    margin-top: 16px; 
    
}

.menu .group-title {
    margin: 0; 
}

/* Ícones */
.menu button i {
    margin-right: 8px;
}
