
::ng-deep .fc {
  height: 100% !important;
}

::ng-deep .fc-scroller-harness,
::ng-deep .fc-scroller {
  height: 100% !important;
  overflow: auto;
}

::ng-deep .fc-view-harness {
  height: 100% !important;
}

::ng-deep .fc-toolbar-title {
  text-transform: capitalize;
}

::ng-deep{
/* Altera a cor de fundo e o texto dos botões */
.fc-button {
  background-color: #007bff !important; /* Cor azul */
  color: white !important; /* Texto branco */
  border: none !important;
  padding: 8px 12px !important;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

/* Mudar cor ao passar o mouse */
.fc-button:hover {
  background-color: #0056b3 !important;
}

/* Mudar cor do botão quando estiver ativo */
.fc-button-active {
  background-color: #004080 !important;
}

/* Personalizar os botões "Hoje", "Mês", "Semana", "Dia" */
.fc-today-button {
  background-color: #007bff !important; /* Verde */
}

.fc-dayGridMonth-button {
  background-color: #007bff !important; /* Azul claro */
}

.fc-dayGridWeek-button {
  background-color: #007bff !important; /* Amarelo */
}

.fc-dayGridDay-button {
  background-color: #007bff !important; /* Vermelho */
}
}