  .body-main {
    height: 100%;
  }

  
  
::ng-deep .fc {
  height: 100% !important;
}

::ng-deep .fc-scroller-harness,
::ng-deep .fc-scroller {
  height: 100% !important;
  overflow: auto;
}

::ng-deep .fc-view-harness {
  height: 100% !important;
}

::ng-deep .fc-toolbar-title {
  text-transform: capitalize;
}

::ng-deep{
.fc-button {
  background-color: #007bff !important; 
  color: white !important;
  border: none !important;
  padding: 8px 12px !important;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.fc-theme-standard td, .fc-theme-standard th {
  color: var(--cor-primaria);
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #007bff48;
}

.fc .fc-toolbar-title{
  color: var(--cor-primaria);
}

.fc-button:hover {
  background-color: #0056b3 !important;
}

.fc-button-active {
  background-color: #004080 !important;
}

.fc-today-button {
  background-color: #007bff !important;
}

.fc-dayGridMonth-button {
  background-color: #007bff !important;
}

.fc-dayGridWeek-button {
  background-color: #007bff !important;
}

.fc-dayGridDay-button {
  background-color: #007bff !important;
}
}