<section class="main-container">
    <div class="body-main">
        <div class="container">
            <form [formGroup]="formUserService">
                <header>
                    <h1>Cadastro de Serviço</h1>
                    <img src="images/iconservice.png" alt="">
                </header>
                <article>
                    <label>Motivo do Atendimento:</label>
                    <input type="text" pInputText formControlName="motivo" />
                </article>

                <article>
                    <label>Data e hora do atendimento:</label>
                    <input type="text" pInputText formControlName="dataHora" />
                </article>

                <article>
                    <label>Responsável:</label>
                    <input type="text" pInputText formControlName="responsavel" />
                </article>

                <article>
                    <label>Veterinário ou funcionário responsável:</label>
                    <input type="text" pInputText formControlName="veterinario" />
                </article>

                <article>
                    <label>Observações gerais:</label>
                    <input type="text" pInputText formControlName="observacoes" />
                </article>

                <article>
                    <label>Status do atendimento:</label>
                    <input type="text" pInputText formControlName="status" />
                </article>


                <div class="card flex justify-content-center">
                    <p-toast />
                </div>
                <p-button type="button" class="btnFooter" label="Registrar" [raised]="true"
                    (click)="registerService()" />
            </form>
        </div>
    </div>
</section>

<p-toast />