
  header{
    display: flex;
    justify-content: space-around;
    img{
      width: 50px;
      height: 50px;
    }
    h1 {
      width: 100%;
      display: flex;
      justify-content: left;
      padding-bottom: 10px;
      color: #0075eb;
    }
  }

  .container {
      form{
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          gap: 20px;

          #espec{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .infos{
              display: flex;
              flex-direction: column;
              width: 100%;
            }
          }

          #cep{
            width: 25%;
          }
          article{
              justify-content: center;
              align-items: left;
              flex-direction: column;
              height: 20%;
              gap: 8px;
              label{
                  display: flex;
                  justify-content: left;
                  width: 100%;
                  font-weight: 400;
                  color: #0075eb;
                  font-size: 14px;
              }
              input,p-multiSelect,p-autoComplete,.p-autoComplete-input{
                  width: 100%;
              }
              
          }

          .btnFooter{
            width: 100%;
            display: flex;
            justify-content: right;
          }
      }
  }

::ng-deep{
  .p-datepicker {
      transform: scale(0.8);     
      transform-origin: top left;
  }

  .p-datepicker table {
      font-size: 0.8rem;
  }

  .p-datepicker-header {
      font-size: 0.9rem;
  }

  .p-datepicker-title {
      font-size: 0.95rem;

    .p-inputwrapper,.p-autocomplete-input{
        width: 100%;
    }
  }

  .p-inputwrapper,.p-autocomplete-input{
      width: 100%;
  }
}
