#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0075eb;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    z-index: 9999;

    #title{
        font-size: 64px;
        font-style: italic;
        color: white;
        font-weight: bold;
    }
}
