.container{
    min-height: 100vh;
    width: 100%;
    background-color: #0075eb;
    display: flex;
    align-items: center;
    justify-content: center;

    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 650px;
        width: 55%;
        -webkit-box-shadow: 0px 0px 6px -1px #000000; 
        box-shadow: 0px 0px 6px -1px #000000;
        border-radius: 10px;

        .body{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;

            .infos{
                width: 50%;
                height: 100%;
                background-color: #ffae34;
                border-radius: 10px 0px 0px 10px;
                
                .imgLeft{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    padding: 10px;

                    img{
                        border-radius: 10px;
                        width: 100%;
                        object-fit: cover;
                    }

                }
            }

            .right{
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: 16px;
                height: 100%;
                background-color: #F2F3F8;
                gap: 24px;
                padding: 12px;
                border-radius: 10px;

                .header{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h1{
                        font-size: clamp(1.4rem, 4vw, 1.7rem);
                        color: #3B82F6;
                        font-weight: 400;
                        text-align: center;
                    }
                }

                    .header-login {
                        height: 40%;
                        .img{
                            display: flex;
                            align-items: center;
                            height: 100%;
                            img{
                                width: 180px;
                            }
                        }
                    }

                    .header-registro {
                        height: 20%;
                        .img{
                            display: flex;
                            align-items: center;
                            height: 100%;
                            img{
                                width: 130px;
                            }
                        }
                    }


                .formsRegistro{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2{
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        font-weight: 400;
                    }

                    article{
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        label{
                            font-size: .8rem;
                            
                        }
                    }

                    form{
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        footer{
                            display: flex;
                            gap: 25%;

                        .p-button.p-button-secondary{
                            color: #3B82F6;
                            background: #ffffff;
                            border: 1px solid #3B82F6;
                        }      
                        }

                        .btnFooter{
                            width: 100%;
                            display: flex;
                            justify-content: end;
                        }
                    }
                                        
                }

                .titleRegister{
                   color: #3B82F6;     
                }

                .p-inputtext{
                    // padding: 0.75rem 0rem;
                    width: 100%;
                }
                #senha{
                    display: flex;
                    width: 100%;
                    ::ng-deep{
                        .p-password.p-component.p-inputwrapper{
                            width: 100% !important; 
                            .p-password-input{
                                width: 100%;
                            }
                        }    
                    }

                }
            }
        

        } 
    }

}