
<div class="container">
    <div class="main">
        <div class="body">
            <div class="infos">
                <div class="imgLeft">
                    <img src="/images/dogAndCat.jpg" alt="">
                </div>
            </div>

            <div class="right">
                <div class="header" [ngClass]="{ 'header-registro': isRegistro, 'header-login': !isRegistro }">
                    <div class="img">
                        <img src="/images/logoLogin.png" alt="">
                    </div>
                    <h1 *ngIf="!isRegistro">Seja Bem Vindo de volta!</h1>  
                </div>
                <div class="formsRegistro">
                    <form [formGroup]="formUserlogin" *ngIf="!isRegistro">
                        <article>
                            <label >Email:</label>             
                            <input  placeholder="Informe seu email" pInputText type="text" formControlName="email"  />
                        </article>
        
                        <article>
                            <label for="senha">Senha:</label>
                            <p-password  id="senha" placeholder="Sua senha" [feedback]="false" formControlName="senha"/>
                        </article>
                
                        <footer>
                            <button pButton type="button"  label="Registro"  severity="secondary"  (click)="toggleForm()"></button>
                            <button pButton class="btnFooter" label="Login" (click)="loginUserFunc()"></button>
                        </footer>
                    </form>

                    
                    <form [formGroup]="formUserRegistro" *ngIf="isRegistro">
                        <h2 class="titleRegister">Crie sua conta</h2>
                        <article>
                            <label>Email:</label>
                            <input placeholder="Informe seu email" pInputText type="text" formControlName="email" />
                        </article>

                        <article>
                            <label>CPF:</label>
                            <input placeholder="Informe seu CPF" pInputText type="text" formControlName="CPF" />
                        </article>

                        <article>
                            <label for="senha">Senha:</label>
                            <p-password id="senha" placeholder="Sua senha" [feedback]="false" formControlName="senha" />
                        </article>

                        <article>
                            <label>Nome:</label>
                            <input placeholder="Seu nome" pInputText type="text" formControlName="name" />
                        </article>

                        <article>
                            <label>Cargo:</label>
                            <input placeholder="Seu cargo" pInputText type="text" formControlName="cargo" />
                        </article>

                        <footer>
                            <button pButton type="button" label="Voltar ao Login" severity="secondary" (click)="toggleForm()"></button>
                            <button pButton class="btnFooter" label="Registrar" (click)="registerUserFunc()"></button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast position="top-right" [baseZIndex]="9999"/>
