<section class="main-container">
    <div class="body-main">
        <div class="container">
            <form [formGroup]="formUserRegister">
                <header>
                    <h1>Cadastro de Responsavel</h1>
                    <img src="images/person.png" alt="">
                </header>
                <article>
                    <label for="">Nome completo:</label>
                    <input type="text" pInputText formControlName="ownerName" />
                </article>

                <article>
                    <label for="">Email:</label>
                    <input type="text" pInputText formControlName="email" />
                </article>

                <article>
                    <label for="">CPF:</label>
                    <input type="text" pInputText formControlName="CPF" />
                </article>

                <article id="espec">
                    <div class="infos">
                        <label for="">telefone:</label>
                        <input type="text" pInputText formControlName="telefone" />
                    </div>
                    <div class="infos">
                        <label for="">Idade:</label>
                        <input type="text" pInputText formControlName="idade" />
                    </div>
                </article>

                <article id="cep">
                    <label for="">CEP:</label>
                    <input type="text" pInputText formControlName="CEP" />
                </article>

                <article id="espec">
                    <div class="infos">
                        <label for="">Endereço:</label>
                        <input type="text" pInputText formControlName="endereco" />
                    </div>
                    <div class="infos">
                        <label for="">Bairro:</label>
                        <input type="text" pInputText formControlName="bairro" />
                    </div>
                </article>
                <article id="espec">
                    <div class="infos">
                        <label for="">Estado:</label>
                        <input type="text" pInputText formControlName="estado" />
                    </div>
                    <div class="infos">
                        <label for="">Complemento:</label>
                        <input type="text" pInputText formControlName="complemento" />
                    </div>
                </article>
                <p-button type="button" class="btnFooter" label="Cadastrar" [raised]="true" (click)="registerUser()" />
            </form>
        </div>
    </div>

</section>

<p-toast />