<section class="main-container">
    <div class="body-main">
        <div class="table">
            <div class="header">
                <div class="title">
                    <h1>Tabela Clientes</h1>
                </div>
                <div class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="campoPesquisa" (input)="filtrarTabela()" placeholder="Pesquise um cliente" />
                </div>
            </div>
            <app-tb-base [valorTabela]="listaFiltrada"></app-tb-base>
        </div>
    </div>
</section>
