<header class="container">
  <div class="menu">
    <!-- Menu principal -->
    <article routerLink="/home">
      <button >Dashboard</button>
      <i class="pi pi-home"></i>
    </article>

    <!-- Grupo Registros -->
    <button class="group-title" disabled>Registros</button>
    <article routerLink="/registrarUsuario">
      <button >Cliente</button>
      <i class="pi pi-user-plus"></i>
    </article>

    <article routerLink="/registrarPet">
      <button>Pet</button>
      <i class="fa fa-dog"></i>
    </article>

    <article routerLink="/registrarServico">
      <button >Serviço</button>
      <i class="fa fa-calendar-days"></i>
    </article>

    <article routerLink="/calendarService">
      <button >Atendimentos</button>
      <i class="pi pi-calendar"></i>
    </article>

    <!-- Grupo Tabelas -->
    <button class="group-title" disabled>Tabelas</button>

    <article routerLink="/tbCliente">
      <button >Tabelas Cliente</button>
      <i class="fa fa-table"></i>
    </article>

    <article routerLink="/tbPet">
      <button >Tabelas Pet</button>
      <i class="fa fa-table"></i>
    </article>

    <article routerLink="/tbService">
      <button >Tabelas Serviço</button>
      <i class="fa fa-table"></i>
    </article>

    <article routerLink="/tbAtendimentos">
      <button >Tabelas Atendimentos</button>
      <i class="fa fa-table"></i>
    </article>

    <!-- Grupo Gerenciamento -->
    <button class="group-title" disabled>Gerenciamento</button>

    <article routerLink="/cargo">
      <button >Cargos</button>
      <i class="fa fa-table"></i>
    </article>
  </div>
</header>
