.menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 0px;
}
article {
    display: flex;
    align-items: center;     
    justify-content: space-between; 
    padding: 10px 15px;
    border-radius: 6px;
    transition: 0.2s;
    flex-wrap: wrap;
}

article button {
    flex: 1;                
    text-align: left;        
    background: none;
    border: none;
    color: #0075eb;
    font-size: 12px;
    padding: 0;
}

article i {
    font-size: 14px;
    margin-left: 8px;
    color: #0075eb;
    min-width: 20px;         
}

article:hover {
    background-color: #0075eb;
    cursor: pointer;
}

article:hover button,
article:hover i {
    color: white;
    cursor: pointer;
}


.menu button.group-title {
    font-weight: 700;
    color: #0076ebe6;
    cursor: default;
    background-color: #0076eb25;
    pointer-events: none; 
    margin-top: 16px; 
    border: none;
    padding: 10px 15px;
}

.menu .group-title {
    margin: 0; 
}

.menu button i {
    margin-right: 8px;
}
