@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap');
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
*{
	margin: 0;
	box-sizing: border-box;
	font-family:'Roboto', Times, serif ,sans-serif;
}

:root {
  --cor-fundo: #f2f3f8;
  --cor-texto: #0075eb;
  --cor-header: #0075eb;
  --cor-card: white;
  --cor-borda: #e0e0e0;
  --cor-primaria: #0075eb;
  --cor-texto: #f5f5f5;
  --cor-input: black;
}

/* Tema escuro */
body.dark-theme {
  --cor-card: #1f2937;
  --cor-fundo: #333;
  --cor-texto: #eaeaea;
  --cor-menuLateral: #1f1f1f;
  --cor-header: #143c9a;
  --cor-borda: #333;
  --cor-primaria: #90caf9;
  --cor-texto: #90caf9;
  --cor-input: white;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0075eb;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    z-index: 9999;

    #title{
        font-size: 64px;
        font-style: italic;
        color: white;
        font-weight: bold;
    }
}

.main-container {
  width: 100%;
  height: 100%;
  padding: 48px;
    .body-main {
    width: 100%;
    background-color: var(--cor-card);
    padding: 16px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    }
}

    h1{
        font-size: clamp(1.2rem, 4vw, 1.3rem);
        font-weight: 400;
    }

.p-button{
    font-weight: 400;
    padding: .35rem .45rem;
}

.p-button .p-button-label {
    font-weight: 400;
}

.p-inputtext{
    font-size: 0.7rem;
    padding: .65rem .45rem;
    background: var(--cor-fundo);
    color: var(--cor-input);
    display: flex;
    align-items: center;
}

.p-button.p-button-raised {
    box-shadow: none; 
}

.p-inputtext:enabled:focus{
    box-shadow: none; 
}

  .p-button:focus {
    box-shadow: none;
  }


.p-datatable .p-datatable-thead > tr > th {
    padding: .8rem 1rem;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.745rem 1rem;
    font-size: 12px !important;
    white-space: nowrap !important;
    background: var(--cor-fundo);
    color: var(--cor-primaria);
}

#loading-screen img{
	width: 15%;
}




.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    background: var(--cor-header);
    transition: box-shadow 0.2s;
}

.p-datatable-wrapper {
    border: 1px solid rgba(119, 119, 119, 0.492);
    border-radius: 6px;
}
.p-paginator {
    background: transparent;
    color: #6b7280;
    border: none;
    border-width: 0;
    padding: 0.5rem 0rem;
    border-radius: 6px;
}

.p-paginator {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #0075eb;
    border-color: #eff6ff;
    color: #eff6ff;
}

.p-dropdown {
    background: var(--cor-fundo);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.31);
}

.p-autocomplete-clear-icon {
    margin-top: -.5rem;
}

//scroll css
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--cor-fundo);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: background 0.6s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

body.dark-theme ::-webkit-scrollbar-track {
  background: #0e0e0e;
}

body.dark-theme ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
}

body.dark-theme ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.45);
}

* {
  scrollbar-color: rgba(0,0,0,0.35) var(--cor-fundo);
  scrollbar-width: thin;
}

body.dark-theme * {
  scrollbar-color: rgba(255,255,255,0.4) #0e0e0e;
}

*::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}