@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap');
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
*{
	margin: 0;
	box-sizing: border-box;
	font-family:'Roboto', Times, serif ,sans-serif;
}




#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0075eb;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    z-index: 9999;

    #title{
        font-size: 64px;
        font-style: italic;
        color: white;
        font-weight: bold;
    }
}

.main-container {
  width: 100%;
  height: 100%;
  padding: 48px;
    .body-main {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 16px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    }
}

.p-button{
    font-weight: 400;
    padding: .35rem .45rem;
}

.p-button .p-button-label {
    font-weight: 400;
}

.p-inputtext{
    font-size: 0.7rem;
    padding: .65rem .45rem
}

.p-button.p-button-raised {
    box-shadow: none; 
}

.p-inputtext:enabled:focus{
    box-shadow: none; 
}

  .p-button:focus {
    box-shadow: none;
  }


.p-datatable .p-datatable-thead > tr > th {
    padding: .8rem 1rem;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.445rem 1rem;
    font-size: 12px !important;
}

#loading-screen img{
	width: 15%;
}

